<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Download the plans</h2>
                <!--<p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>-->
                <!--<a href="#download" class="btn btn-default btn-lg">THE PLANS</a>-->
                <!--<a href="../files/tyranny.pdf" class="btn btn-default btn-lg">The Tyranny of Structurelessness</a>-->
                <div class="download-box">
                  <ul>
                    <li><a href="../files/1 vawt_CNC_full_sheet_10_2 1_2 Axis Profiling_2mm_0.35mm.ngc">1 vawt_CNC_full_sheet_10_2 1_2 Axis Profiling_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/1 vawt_CNC_full_sheet_10_Engraving_2mm_0.35mm.ngc">1 vawt_CNC_full_sheet_10_Engraving_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/2 vawt_CNC_formers_10_2 1_2 Axis Profiling_2mm_0.35mm.ngc">2 vawt_CNC_formers_10_2 1_2 Axis Profiling_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/2 vawt_CNC_formers_10_Engraving1_2mm_0.35mm.ngc">2 vawt_CNC_formers_10_Engraving1_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/2 vawt_CNC_formers_10_Engraving2_2mm_0.35mm.ngc">2 vawt_CNC_formers_10_Engraving2_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/2 vawt_CNC_formers_10_Hole Pocketing_2mm_0.35mm.ngc">2 vawt_CNC_formers_10_Hole Pocketing_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/3 vawt_CNC_half_sheet_struts_10_2 1_2 Axis Profiling_2mm_0.35mm.ngc">3 vawt_CNC_half_sheet_struts_10_2 1_2 Axis Profiling_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/3 vawt_CNC_half_sheet_struts_10_Engraving_2mm_0.35mm.ngc">3 vawt_CNC_half_sheet_struts_10_Engraving_2mm_0.35mm.ngc</a></li>
                    <li><a href="../files/3 vawt_CNC_half_sheet_struts_10_Hole Pocketing_2mm_0.35mm.ngc">3 vawt_CNC_half_sheet_struts_10_Hole Pocketing_2mm_0.35mm.ngc</a></li>
                  <li><a href="../files/vawt_CNC_formers_10.3dm">vawt_CNC_formers_10.3dm</a></li>
                  <li><a href="../files/vawt_CNC_formers_10.dxf">vawt_CNC_formers_10.dxf</a></li>
                  <li><a href="../files/vawt_CNC_full_sheet_10.3dm">vawt_CNC_full_sheet_10.3dm</a></li>
                  <li><a href="../files/vawt_CNC_full_sheet_10.dxf">vawt_CNC_full_sheet_10.dxf</a></li>
                  <li><a href="../files/vawt_CNC_half_sheet_struts_10.3dm">vawt_CNC_half_sheet_struts_10.3dm</a></li>
                  <li><a href="../files/vawt_CNC_half_sheet_struts_10.dxf">vawt_CNC_half_sheet_struts_10.dxf</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</section>
